<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Alpha</string>
		<string>Alphatonos</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Aringacute</string>
		<string>Atilde</string>
		<string>Delta</string>
		<string>Lambda</string>
		<string>A-cy</string>
		<string>Yuslittle-cy</string>
		<string>Abreve-cy</string>
		<string>Adieresis-cy</string>
		<string>Aringbelow</string>
		<string>Adotbelow</string>
		<string>Ahookabove</string>
		<string>Acircumflexacute</string>
		<string>Acircumflexgrave</string>
		<string>Acircumflexhookabove</string>
		<string>Acircumflextilde</string>
		<string>Acircumflexdotbelow</string>
		<string>Abreveacute</string>
		<string>Abrevegrave</string>
		<string>Abrevehookabove</string>
		<string>Abrevetilde</string>
		<string>Abrevedotbelow</string>
	</array>
	<key>@MMK_L_B</key>
	<array>
		<string>B</string>
		<string>Beta</string>
		<string>Ve-cy</string>
	</array>
	<key>@MMK_L_C</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>Es-cy</string>
		<string>Esdescender-cy</string>
	</array>
	<key>@MMK_L_Chi</key>
	<array>
		<string>Chi</string>
		<string>X</string>
		<string>Zhe-cy</string>
		<string>Ha-cy</string>
		<string>Zhedescender-cy</string>
		<string>Hadescender-cy</string>
		<string>Zhebreve-cy</string>
		<string>Zhedieresis-cy</string>
		<string>Hahook-cy</string>
	</array>
	<key>@MMK_L_D</key>
	<array>
		<string>D</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>Eth</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Omicron</string>
		<string>Omicrontonos</string>
		<string>Otilde</string>
		<string>Theta</string>
		<string>O-cy</string>
		<string>Odieresis-cy</string>
		<string>Odotbelow</string>
		<string>Ohookabove</string>
		<string>Ocircumflexacute</string>
		<string>Ocircumflexgrave</string>
		<string>Ocircumflexhookabove</string>
		<string>Ocircumflextilde</string>
		<string>Ocircumflexdotbelow</string>
		<string>Omicrondasiaoxia</string>
	</array>
	<key>@MMK_L_E</key>
	<array>
		<string>E</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>Epsilon</string>
		<string>Epsilontonos</string>
		<string>Iegrave-cy</string>
		<string>Io-cy</string>
		<string>Ie-cy</string>
		<string>Iebreve-cy</string>
		<string>Edotbelow</string>
		<string>Ehookabove</string>
		<string>Etilde</string>
		<string>Ecircumflexacute</string>
		<string>Ecircumflexgrave</string>
		<string>Ecircumflexhookabove</string>
		<string>Ecircumflextilde</string>
		<string>Ecircumflexdotbelow</string>
	</array>
	<key>@MMK_L_Eta</key>
	<array>
		<string>Eta</string>
		<string>Etatonos</string>
		<string>H</string>
		<string>Hcircumflex</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Iota</string>
		<string>Iotadieresis</string>
		<string>Iotatonos</string>
		<string>Itilde</string>
		<string>M</string>
		<string>Mu</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Ntilde</string>
		<string>Nu</string>
		<string>I-cy</string>
		<string>Yi-cy</string>
		<string>Dzhe-cy</string>
		<string>Ii-cy</string>
		<string>El-cy</string>
		<string>Em-cy</string>
		<string>En-cy</string>
		<string>Tse-cy</string>
		<string>Sha-cy</string>
		<string>Endescender-cy</string>
		<string>Palochka-cy</string>
		<string>Entail-cy</string>
		<string>Emtail-cy</string>
		<string>palochka-cy</string>
		<string>Macute</string>
		<string>Ihookabove</string>
		<string>Idotbelow</string>
	</array>
	<key>@MMK_L_Gamma</key>
	<array>
		<string>Gamma</string>
		<string>Gje-cy</string>
		<string>Ge-cy</string>
		<string>Gheupturn-cy</string>
		<string>Ghestroke-cy</string>
		<string>Gedescender-cy</string>
	</array>
	<key>@MMK_L_J</key>
	<array>
		<string>J</string>
		<string>Jcircumflex</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>Je-cy</string>
		<string>Udotbelow</string>
		<string>Uhookabove</string>
	</array>
	<key>@MMK_L_K</key>
	<array>
		<string>K</string>
		<string>Kappa</string>
		<string>Kcommaaccent</string>
		<string>Kje-cy</string>
		<string>Ka-cy</string>
		<string>Kadescender-cy</string>
		<string>Kaverticalstroke-cy</string>
		<string>Kastroke-cy</string>
		<string>Kabashkir-cy</string>
	</array>
	<key>@MMK_L_L</key>
	<array>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Ldot</string>
	</array>
	<key>@MMK_L_Lje-cy</key>
	<array>
		<string>Lje-cy</string>
		<string>Nje-cy</string>
		<string>Hardsign-cy</string>
		<string>Softsign-cy</string>
		<string>Yat-cy</string>
	</array>
	<key>@MMK_L_P</key>
	<array>
		<string>P</string>
		<string>Rho</string>
		<string>Er-cy</string>
	</array>
	<key>@MMK_L_T</key>
	<array>
		<string>T</string>
		<string>Tau</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
		<string>Tcommaaccent</string>
		<string>Te-cy</string>
		<string>Tedescender-cy</string>
	</array>
	<key>@MMK_L_Upsilon</key>
	<array>
		<string>Upsilon</string>
		<string>Upsilondieresis</string>
		<string>Upsilontonos</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>Ustrait-cy</string>
		<string>Ustraitstroke-cy</string>
		<string>Ydotbelow</string>
		<string>Yhookabove</string>
		<string>Ytilde</string>
	</array>
	<key>@MMK_L_Ushort-cy</key>
	<array>
		<string>Ushort-cy</string>
		<string>U-cy</string>
		<string>Umacron-cy</string>
		<string>Udieresis-cy</string>
		<string>Uhungarumlaut-cy</string>
	</array>
	<key>@MMK_L_V</key>
	<array>
		<string>V</string>
		<string>Izhitsa-cy</string>
		<string>Izhitsadblgrave-cy</string>
	</array>
	<key>@MMK_L_W</key>
	<array>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
	</array>
	<key>@MMK_L_Z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>Zeta</string>
	</array>
	<key>@MMK_L_a</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>aringacute</string>
		<string>atilde</string>
		<string>a-cy</string>
		<string>abreve-cy</string>
		<string>adieresis-cy</string>
		<string>aringbelow</string>
		<string>adotbelow</string>
		<string>ahookabove</string>
		<string>acircumflexacute</string>
		<string>acircumflexgrave</string>
		<string>acircumflexhookabove</string>
		<string>acircumflextilde</string>
		<string>acircumflexdotbelow</string>
		<string>abreveacute</string>
		<string>abrevegrave</string>
		<string>abrevehookabove</string>
		<string>abrevetilde</string>
		<string>abrevedotbelow</string>
	</array>
	<key>@MMK_L_b</key>
	<array>
		<string>b</string>
		<string>p</string>
		<string>rho</string>
		<string>thorn</string>
		<string>er-cy</string>
		<string>ef-cy</string>
		<string>ereversed-cy</string>
		<string>ertick-cy</string>
		<string>edieresis-cy</string>
	</array>
	<key>@MMK_L_c</key>
	<array>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>es-cy</string>
		<string>esdescender-cy</string>
	</array>
	<key>@MMK_L_comma</key>
	<array>
		<string>comma</string>
		<string>ellipsis</string>
		<string>period</string>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
		<string>twodotenleader</string>
	</array>
	<key>@MMK_L_e</key>
	<array>
		<string>e</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>ie-cy</string>
		<string>iegrave-cy</string>
		<string>io-cy</string>
		<string>iebreve-cy</string>
		<string>schwa-cy</string>
		<string>schwadieresis-cy</string>
		<string>edotbelow</string>
		<string>ehookabove</string>
		<string>etilde</string>
		<string>ecircumflexacute</string>
		<string>ecircumflexgrave</string>
		<string>ecircumflexhookabove</string>
		<string>ecircumflextilde</string>
		<string>ecircumflexdotbelow</string>
	</array>
	<key>@MMK_L_eta</key>
	<array>
		<string>eta</string>
		<string>etatonos</string>
		<string>h</string>
		<string>hcircumflex</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>napostrophe</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>ntilde</string>
		<string>shha-cy</string>
		<string>macute</string>
	</array>
	<key>@MMK_L_gamma</key>
	<array>
		<string>gamma</string>
		<string>nu</string>
		<string>u-cy</string>
		<string>ushort-cy</string>
		<string>izhitsa-cy</string>
		<string>izhitsadblgrave-cy</string>
		<string>ustrait-cy</string>
		<string>umacron-cy</string>
		<string>udieresis-cy</string>
		<string>uhungarumlaut-cy</string>
		<string>ydotbelow</string>
		<string>yhookabove</string>
		<string>ytilde</string>
		<string>v</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
	</array>
	<key>@MMK_L_ge-cy</key>
	<array>
		<string>ge-cy</string>
		<string>gje-cy</string>
		<string>gheupturn-cy</string>
		<string>gedescender-cy</string>
		<string>gestrokehook-cy</string>
	</array>
	<key>@MMK_L_hardsign-cy</key>
	<array>
		<string>hardsign-cy</string>
		<string>softsign-cy</string>
		<string>lje-cy</string>
		<string>nje-cy</string>
		<string>yat-cy</string>
	</array>
	<key>@MMK_L_minute</key>
	<array>
		<string>minute</string>
		<string>quotedbl</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quotereversed</string>
		<string>quoteright</string>
		<string>quotesingle</string>
		<string>second</string>
		<string>apostrophemod</string>
	</array>
	<key>@MMK_L_o</key>
	<array>
		<string>o</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>omicron</string>
		<string>omicrontonos</string>
		<string>otilde</string>
		<string>o-cy</string>
		<string>fita-cy</string>
		<string>odieresis-cy</string>
		<string>obarreddieresis-cy</string>
		<string>odotbelow</string>
		<string>ohookabove</string>
		<string>ocircumflexacute</string>
		<string>ocircumflexgrave</string>
		<string>ocircumflexhookabove</string>
		<string>ocircumflextilde</string>
		<string>ocircumflexdotbelow</string>
		<string>ohorntilde</string>
	</array>
	<key>@MMK_L_r</key>
	<array>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
	</array>
	<key>@MMK_L_u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>udotbelow</string>
		<string>uhookabove</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
	</array>
	<key>@MMK_L_z</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
	<key>@MMK_L_zhe-cy</key>
	<array>
		<string>zhe-cy</string>
		<string>ha-cy</string>
		<string>zhedescender-cy</string>
		<string>hadescender-cy</string>
		<string>zhebreve-cy</string>
		<string>zhedieresis-cy</string>
		<string>hahook-cy</string>
		<string>x</string>
	</array>
	<key>@MMK_R_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Alpha</string>
		<string>Alphatonos</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Aringacute</string>
		<string>Atilde</string>
		<string>Delta</string>
		<string>Lambda</string>
		<string>A-cy</string>
		<string>Yuslittle-cy</string>
		<string>Abreve-cy</string>
		<string>Adieresis-cy</string>
		<string>Aringbelow</string>
		<string>Adotbelow</string>
		<string>Ahookabove</string>
		<string>Acircumflexacute</string>
		<string>Acircumflexgrave</string>
		<string>Acircumflexhookabove</string>
		<string>Acircumflextilde</string>
		<string>Acircumflexdotbelow</string>
		<string>Abreveacute</string>
		<string>Abrevegrave</string>
		<string>Abrevehookabove</string>
		<string>Abrevetilde</string>
		<string>Abrevedotbelow</string>
	</array>
	<key>@MMK_R_C</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
		<string>O</string>
		<string>OE</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohorn</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Omicron</string>
		<string>Omicrontonos</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>Otilde</string>
		<string>Q</string>
		<string>Theta</string>
		<string>Cdotaccent</string>
		<string>Gdotaccent</string>
		<string>E-cy</string>
		<string>O-cy</string>
		<string>Es-cy</string>
		<string>Omega-cy</string>
		<string>Fita-cy</string>
		<string>Uk-cy</string>
		<string>uni047A</string>
		<string>uni047C</string>
		<string>uni047E</string>
		<string>Koppa-cy</string>
		<string>Haabkhasian-cy</string>
		<string>Esdescender-cy</string>
		<string>Odieresis-cy</string>
		<string>Obarred-cy</string>
		<string>Obarreddieresis-cy</string>
		<string>Komisje-cy</string>
		<string>Odotbelow</string>
		<string>Ohookabove</string>
		<string>Ocircumflexacute</string>
		<string>Ocircumflexgrave</string>
		<string>Ocircumflexhookabove</string>
		<string>Ocircumflextilde</string>
		<string>Ocircumflexdotbelow</string>
		<string>Ohornacute</string>
		<string>Ohorngrave</string>
		<string>Ohornhookabove</string>
		<string>Ohorntilde</string>
		<string>Ohorndotbelow</string>
		<string>Omicrondasiaoxia</string>
	</array>
	<key>@MMK_R_Che-cy</key>
	<array>
		<string>Che-cy</string>
		<string>Chedescender-cy</string>
		<string>Chekhakassian-cy</string>
		<string>Chedieresis-cy</string>
	</array>
	<key>@MMK_R_Chi</key>
	<array>
		<string>Chi</string>
		<string>X</string>
		<string>Zhe-cy</string>
		<string>Ha-cy</string>
		<string>Zhedescender-cy</string>
		<string>Hadescender-cy</string>
		<string>Zhebreve-cy</string>
		<string>Zhedieresis-cy</string>
		<string>Hahook-cy</string>
	</array>
	<key>@MMK_R_J</key>
	<array>
		<string>J</string>
		<string>Jcircumflex</string>
		<string>Je-cy</string>
	</array>
	<key>@MMK_R_Lje-cy</key>
	<array>
		<string>Lje-cy</string>
		<string>El-cy</string>
		<string>Eltail-cy</string>
		<string>Komilje-cy</string>
		<string>Elhook-cy</string>
	</array>
	<key>@MMK_R_S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>Scommaaccent</string>
	</array>
	<key>@MMK_R_T</key>
	<array>
		<string>T</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
		<string>Tcommaaccent</string>
		<string>Dje-cy</string>
		<string>Tshe-cy</string>
		<string>Te-cy</string>
		<string>Kabashkir-cy</string>
		<string>Tedescender-cy</string>
		<string>Tetse-cy</string>
	</array>
	<key>@MMK_R_U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>Udotbelow</string>
		<string>Uhookabove</string>
	</array>
	<key>@MMK_R_Upsilon</key>
	<array>
		<string>Upsilon</string>
		<string>Upsilondieresis</string>
		<string>Upsilontonos</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>Ustrait-cy</string>
		<string>Ustraitstroke-cy</string>
		<string>Ydotbelow</string>
		<string>Yhookabove</string>
		<string>Ytilde</string>
	</array>
	<key>@MMK_R_Ushort-cy</key>
	<array>
		<string>Ushort-cy</string>
		<string>U-cy</string>
		<string>Umacron-cy</string>
		<string>Udieresis-cy</string>
		<string>Uhungarumlaut-cy</string>
	</array>
	<key>@MMK_R_V</key>
	<array>
		<string>V</string>
		<string>Izhitsa-cy</string>
		<string>Izhitsadblgrave-cy</string>
	</array>
	<key>@MMK_R_W</key>
	<array>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
	</array>
	<key>@MMK_R_Z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>Zeta</string>
	</array>
	<key>@MMK_R__empty_lu.0_st.3_cl.0</key>
	<array>
	</array>
	<key>@MMK_R_a</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>aringacute</string>
		<string>atilde</string>
		<string>a-cy</string>
		<string>abreve-cy</string>
		<string>adieresis-cy</string>
		<string>aringbelow</string>
		<string>adotbelow</string>
		<string>ahookabove</string>
		<string>acircumflexacute</string>
		<string>acircumflexgrave</string>
		<string>acircumflexhookabove</string>
		<string>acircumflextilde</string>
		<string>acircumflexdotbelow</string>
		<string>abreveacute</string>
		<string>abrevegrave</string>
		<string>abrevehookabove</string>
		<string>abrevetilde</string>
		<string>abrevedotbelow</string>
	</array>
	<key>@MMK_R_alpha</key>
	<array>
		<string>alpha</string>
		<string>alphatonos</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>d</string>
		<string>dcaron</string>
		<string>e</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>g</string>
		<string>gbreve</string>
		<string>gcircumflex</string>
		<string>gcommaaccent</string>
		<string>oe</string>
		<string>ohorn</string>
		<string>q</string>
		<string>sigma</string>
		<string>sigmafinal</string>
		<string>cdotaccent</string>
		<string>gdotaccent</string>
		<string>ie-cy</string>
		<string>es-cy</string>
		<string>ef-cy</string>
		<string>iegrave-cy</string>
		<string>io-cy</string>
		<string>e-cy</string>
		<string>uk-cy</string>
		<string>uni047D</string>
		<string>koppa-cy</string>
		<string>haabkhasian-cy</string>
		<string>esdescender-cy</string>
		<string>iebreve-cy</string>
		<string>schwa-cy</string>
		<string>schwadieresis-cy</string>
		<string>obarred-cy</string>
		<string>komide-cy</string>
		<string>Komidje-cy</string>
		<string>komidje-cy</string>
		<string>komisje-cy</string>
		<string>edotbelow</string>
		<string>ehookabove</string>
		<string>etilde</string>
		<string>ecircumflexacute</string>
		<string>ecircumflexgrave</string>
		<string>ecircumflexhookabove</string>
		<string>ecircumflextilde</string>
		<string>ecircumflexdotbelow</string>
		<string>ohornacute</string>
		<string>ohorngrave</string>
		<string>ohornhookabove</string>
		<string>ohorndotbelow</string>
	</array>
	<key>@MMK_R_che-cy</key>
	<array>
		<string>che-cy</string>
		<string>chedescender-cy</string>
		<string>chekhakassian-cy</string>
		<string>chedieresis-cy</string>
	</array>
	<key>@MMK_R_comma</key>
	<array>
		<string>comma</string>
		<string>ellipsis</string>
		<string>period</string>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
		<string>twodotenleader</string>
	</array>
	<key>@MMK_R_el-cy</key>
	<array>
		<string>el-cy</string>
		<string>lje-cy</string>
		<string>eltail-cy</string>
		<string>elhook-cy</string>
	</array>
	<key>@MMK_R_emdash</key>
	<array>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
		<string>softhyphen</string>
		<string>horizontalbar</string>
	</array>
	<key>@MMK_R_eta</key>
	<array>
		<string>eta</string>
		<string>etatonos</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>napostrophe</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>ntilde</string>
		<string>p</string>
		<string>ge-cy</string>
		<string>ii-cy</string>
		<string>iishort-cy</string>
		<string>ka-cy</string>
		<string>em-cy</string>
		<string>en-cy</string>
		<string>pe-cy</string>
		<string>er-cy</string>
		<string>tse-cy</string>
		<string>sha-cy</string>
		<string>shcha-cy</string>
		<string>softsign-cy</string>
		<string>iu-cy</string>
		<string>gje-cy</string>
		<string>nje-cy</string>
		<string>kje-cy</string>
		<string>iigrave-cy</string>
		<string>iishorttail-cy</string>
		<string>kadescender-cy</string>
		<string>endescender-cy</string>
		<string>enghe-cy</string>
		<string>enhook-cy</string>
		<string>entail-cy</string>
		<string>emtail-cy</string>
		<string>imacron-cy</string>
		<string>idieresis-cy</string>
		<string>gedescender-cy</string>
		<string>yerudieresis-cy</string>
		<string>gestrokehook-cy</string>
		<string>macute</string>
	</array>
	<key>@MMK_R_gamma</key>
	<array>
		<string>gamma</string>
		<string>nu</string>
		<string>u-cy</string>
		<string>ushort-cy</string>
		<string>izhitsa-cy</string>
		<string>izhitsadblgrave-cy</string>
		<string>ustrait-cy</string>
		<string>umacron-cy</string>
		<string>udieresis-cy</string>
		<string>uhungarumlaut-cy</string>
		<string>ydotbelow</string>
		<string>yhookabove</string>
		<string>ytilde</string>
		<string>v</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
	</array>
	<key>@MMK_R_h</key>
	<array>
		<string>h</string>
		<string>k</string>
		<string>l</string>
	</array>
	<key>@MMK_R_minute</key>
	<array>
		<string>minute</string>
		<string>quotedbl</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quotereversed</string>
		<string>quoteright</string>
		<string>quotesingle</string>
		<string>second</string>
		<string>apostrophemod</string>
	</array>
	<key>@MMK_R_o</key>
	<array>
		<string>o</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>omicron</string>
		<string>omicrontonos</string>
		<string>otilde</string>
		<string>o-cy</string>
		<string>fita-cy</string>
		<string>odieresis-cy</string>
		<string>obarreddieresis-cy</string>
		<string>odotbelow</string>
		<string>ohookabove</string>
		<string>ocircumflexacute</string>
		<string>ocircumflexgrave</string>
		<string>ocircumflexhookabove</string>
		<string>ocircumflextilde</string>
		<string>ocircumflexdotbelow</string>
		<string>ohorntilde</string>
	</array>
	<key>@MMK_R_s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>scommaaccent</string>
		<string>dze-cy</string>
	</array>
	<key>@MMK_R_u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhorn</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>udotbelow</string>
		<string>uhookabove</string>
		<string>uhornacute</string>
		<string>uhorngrave</string>
		<string>uhornhookabove</string>
		<string>uhorntilde</string>
		<string>uhorndotbelow</string>
		<string>uogonek</string>
		<string>upsilon</string>
		<string>upsilondieresis</string>
		<string>upsilondieresistonos</string>
		<string>upsilontonos</string>
		<string>uring</string>
		<string>utilde</string>
	</array>
	<key>@MMK_R_z</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
	<key>@MMK_R_zhe-cy</key>
	<array>
		<string>zhe-cy</string>
		<string>ha-cy</string>
		<string>zhedescender-cy</string>
		<string>hadescender-cy</string>
		<string>zhebreve-cy</string>
		<string>zhedieresis-cy</string>
		<string>hahook-cy</string>
		<string>x</string>
	</array>
</dict>
</plist>
